-- Query: create_tmp_dq_aggregate_level
-- Created: 2025-12-26 12:54:25
-- Type: Make Table Query
-- SQL Statement:
SELECT agg.id_model, agg.id_dataset, IIf([nm_target_schema]="dq_result_agg","Result","Totals") AS cd_aggregation_type, InStr(1,[fn_dataset],"Level",1)+6 AS ni_level_start, InStr(1,[fn_dataset],"- Aggregated",1)-[ni_level_start] AS ni_level_lentgh, CInt(Mid([fn_dataset],[ni_level_start],[ni_level_lentgh])) AS ni_level, CInt(Mid([fn_dataset],InStr(1,[fn_dataset],"- Aggregated",1)+12,3)) AS ni_sub_level INTO tmp_dq_aggregate_level
FROM dta_dataset AS agg
WHERE (((agg.nm_target_schema)="dq_result_agg" Or (agg.nm_target_schema)="dq_totals_agg"));

