-- Query: ddl_srd_dq_dimension
-- Created: 2025-10-14 12:57:44
-- Type: Select Query
-- SQL Statement:
SELECT srd_dq_dimension.id_dq_dimension AS id, srd_dq_dimension.fn_dq_dimension AS display, srd_dq_dimension.id_model
FROM srd_dq_dimension;

