-- Query: ddl_srd_parameter_group
-- Created: 2025-10-14 12:57:44
-- Type: Select Query
-- SQL Statement:
SELECT srd_parameter_group.id_parameter_group AS id, [cd_parameter_group] & " - " & [fn_parameter_group] AS display, srd_parameter_group.id_model
FROM srd_parameter_group;

