-- Query: ddl_dta_attribute
-- Created: 2025-10-14 12:57:44
-- Type: Select Query
-- SQL Statement:
SELECT dta_attribute.id_attribute AS id, dta_attribute.nm_target_column AS display, dta_attribute.id_model
FROM dta_attribute;

