-- Query: ddl_dta_attribute_ni_ordering
-- Created: 2025-07-04 22:53:22
-- Type: Select Query
-- SQL Statement:
SELECT dta_attribute.id_attribute AS id, dta_attribute.ni_ordering AS display, dta_attribute.id_model
FROM dta_attribute;

