-- Query: ddl_dta_model
-- Created: 2025-10-14 12:57:44
-- Type: Select Query
-- SQL Statement:
SELECT dta_model.id_model AS id, dta_model.nm_repository AS display
FROM dta_model
ORDER BY dta_model.nm_repository;

