-- Query: ddl_srd_development_status
-- Created: 2025-07-04 22:53:22
-- Type: Select Query
-- SQL Statement:
SELECT srd_development_status.id_development_status AS id, srd_development_status.nm_development_status AS display, srd_development_status.id_model
FROM srd_development_status;

