-- Query: ddl_srd_datatypes
-- Created: 2025-07-04 22:53:22
-- Type: Select Query
-- SQL Statement:
SELECT srd_datatype.id_datatype AS id, srd_datatype.cd_target_datatype AS display, srd_datatype.id_model
FROM srd_datatype;

