-- Query: ddl_ohg_groups
-- Created: 2025-12-26 12:54:25
-- Type: Select Query
-- SQL Statement:
SELECT ohg_group.id_group AS id, ohg_group.fn_group AS display, ohg_group.id_model
FROM ohg_group
ORDER BY ohg_group.fn_group;

