-- Query: dta_dq_controls
-- Created: 2025-11-16 22:50:32
-- Type: Select Query
-- SQL Statement:
SELECT dta_dataset.*
FROM dta_dataset
WHERE (((dta_dataset.nm_target_schema) In ('dqm','dq_result','dq_result_agg','dq_totals','dq_totals_agg')));

