-- Query: hlp_meta_attributes_insert
-- Created: 2025-10-15 23:22:50
-- Type: Append Query
-- SQL Statement:
INSERT INTO hlp_meta_attributes ( id_model, id_dataset, id_attribute, nm_target_column )
SELECT hlp_meta_attribures_select.id_model, hlp_meta_attribures_select.id_dataset, hlp_meta_attribures_select.id_attribute, hlp_meta_attribures_select.nm_target_column
FROM hlp_meta_attribures_select;

