-- Query: hlp_meta_attribures_select
-- Created: 2025-10-16 22:48:47
-- Type: Select Query
-- SQL Statement:
SELECT u.id_model, u.id_dataset, CreateMD5 (
"|" & [u].[id_model] & "|" & [u].[id_dataset] & "|" & [u].[nm_target_column] & "|"
) AS id_attribute, u.nm_target_column
FROM (SELECT "meta_dt_valid_from" AS nm_target_column, dst.id_model, dst.id_dataset  FROM dta_dataset AS dst UNION
SELECT "meta_dt_valid_till" AS nm_target_column, dst.id_model, dst.id_dataset  FROM dta_dataset AS dst UNION
SELECT "meta_is_active" AS nm_target_column, dst.id_model, dst.id_dataset  FROM dta_dataset AS dst UNION
SELECT "meta_ch_rh" AS nm_target_column, dst.id_model, dst.id_dataset  FROM dta_dataset AS dst UNION
SELECT "meta_ch_bk" AS nm_target_column, dst.id_model, dst.id_dataset  FROM dta_dataset AS dst UNION
SELECT "meta_ch_pk" AS nm_target_column, dst.id_model, dst.id_dataset  FROM dta_dataset AS dst
)  AS u;

