-- Query: Query1
-- Created: 2025-11-01 21:01:27
-- Type: Select Query
-- SQL Statement:
SELECT eff.id_model AS id_modsel, eff.id_dataset AS id_datsaset, dst.id_model, dst.id_dataset
FROM (((dta_model AS mdl INNER JOIN dta_dataset AS dst ON mdl.id_model = dst.id_model) INNER JOIN dta_transformation_dataset AS tds ON (dst.id_dataset = tds.id_source_dataset) AND (dst.id_model = tds.id_source_model)) INNER JOIN dta_transformation_part AS tpt ON (tds.id_transformation_part = tpt.id_transformation_part) AND (tds.id_model = tpt.id_model)) INNER JOIN dta_dataset AS eff ON (tpt.id_dataset = eff.id_dataset) AND (tpt.id_model = eff.id_model)
WHERE (((dst.meta_updated_at)>[mdl].[meta_updated_at])) OR (((dst.meta_created_at)>[mdl].[meta_updated_at]));

