-- Query: tmp_transformation_dataset_ds_select
-- Created: 2025-10-19 21:13:05
-- Type: Select Query
-- SQL Statement:
SELECT ni.cd_join_type, ni.id_dataset, ni.id_source_model, ni.nm_target_schema, ni.nm_target_table, ni.cd_alias, Iif(ni.cd_join_type = 'FROM', ni.ni_ordering, ni.ni_ordering_for_join_with_als+2) AS ni_ordering_from, Iif(ni.cd_join_type = 'FROM', ni.ni_ordering, Nz((
SELECT MIN(lead.ni_ordering)
FROM [tmp_transformation_dataset_ni_select] AS lead
WHERE lead.ni_ordering > (ni.ni_ordering_for_join_with_als+1)
AND lead.tx_sql IN ('CROSS', 'LEFT', 'RIGT', 'FULL', 'JOIN')
AND ((lead.tx_sql <> 'JOIN' AND lead.tx_sql_next = 'JOIN') OR (lead.tx_sql = 'JOIN'))
), [ls].[ni_ordering])) AS ni_ordering_till, ni.tx_sql, ni.ni_ordering
FROM tmp_transformation_dataset_ls AS ls, tmp_transformation_dataset_ni_select AS ni;

