-- Query: tmp_transformation_dataset_md_dst
-- Created: 2025-11-01 00:06:09
-- Type: Select Query
-- SQL Statement:
SELECT dst.id_model, dst.id_dataset, dst.nm_target_schema, dst.nm_target_table, '[' & dst.nm_target_schema & '].'  & dst.nm_target_table & '' AS tx_sql_match_1, ''  & dst.nm_target_schema &  '.[' & dst.nm_target_table & ']' AS tx_sql_match_2, '[' & dst.nm_target_schema & '].[' & dst.nm_target_table & ']' AS tx_sql_match_3, ''  & dst.nm_target_schema &  '.'  & dst.nm_target_table & '' AS tx_sql_match_4
FROM dta_dataset AS dst;

