-- Query: tmp_transformation_dataset_ds_insert
-- Created: 2025-10-14 12:57:44
-- Type: Append Query
-- SQL Statement:
INSERT INTO tmp_transformation_dataset_ds ( cd_join_type, id_dataset, id_source_model, nm_target_schema, nm_target_table, cd_alias, ni_ordering_from, ni_ordering_till )
SELECT cd_join_type, id_dataset, id_source_model, nm_target_schema, nm_target_table, cd_alias, ni_ordering_from, ni_ordering_till
FROM tmp_transformation_dataset_ds_select;

