-- Query: tmp_transformation_column_mapping_prv_step_3
-- Created: 2025-12-26 22:08:38
-- Type: Select Query
-- SQL Statement:
SELECT cur.id_model, cur.id_attribute, cur.id_dataset, cur.ni_ordering, cur.nm_target_column, x.prv_ni_ordering, prt.id_transformation_part, prt.ni_transformation_part, prt.tx_transformation_part, InStr([prt].[tx_transformation_part],' AS ' & [cur].[nm_target_column])+InStr([prt].[tx_transformation_part],' AS [' & [cur].[nm_target_column] & ']')+InStr([prt].[tx_transformation_part],' AS[' & [cur].[nm_target_column] & ']') AS ni_position, IIf(InStr(prt.tx_transformation_part,' AS ' & cur.nm_target_column)>0,Len(' AS ' & cur.nm_target_column),IIf(InStr(prt.tx_transformation_part,' AS [' & cur.nm_target_column & ']')>0,Len(' AS [' & cur.nm_target_column & ']'),IIf(InStr(prt.tx_transformation_part,' AS[' & cur.nm_target_column & ']')>0,Len(' AS[' & cur.nm_target_column & ']'),0))) AS ni_length
FROM (dta_attribute AS cur LEFT JOIN tmp_transformation_column_mapping_prv_step_2 AS x ON (cur.id_model = x.id_model) AND (cur.id_attribute = x.id_attribute) AND (cur.id_dataset = x.id_dataset) AND (cur.ni_ordering = x.ni_ordering)) INNER JOIN dta_transformation_part AS prt ON (cur.id_model = prt.id_model) AND (cur.id_dataset = prt.id_dataset)
ORDER BY cur.id_model, cur.id_dataset, cur.ni_ordering, prt.ni_transformation_part;

