-- Query: tmp_fetch_dq_control_aggregate_info
-- Created: 2025-11-01 20:54:37
-- Type: Select Query
-- SQL Statement:
SELECT dqc.id_model, dqc.id_dataset, dqc.id_dq_control, CreateMD5("|" & [dqc].[id_model] & "|" & [dqc].[id_dq_control] & "|result|") AS id_dataset_for_dqr, CreateMD5("|" & [dqc].[id_model] & "|" & [dqc].[id_dq_control] & "|totals|") AS id_dataset_for_dqt, "dq_result" AS nm_target_schema_for_dqr, "dqr_" & [id_dataset_for_dqr] AS nm_target_table_for_dqr
FROM dqm_dq_control AS dqc;

