-- Query: tmp_transformantion_dataset_rs_select
-- Created: 2025-10-19 21:13:05
-- Type: Select Query
-- SQL Statement:
SELECT ds.cd_join_type, ds.id_source_model, ds.id_dataset AS id_source_dataset, ds.nm_target_schema, ds.nm_target_table, ds.cd_alias, md.ni_ordering AS ni_join_criteria, IIf([ds].[cd_join_type] = 'FROM', NULL, [md].[tx_sql]) AS tx_join_criteria
FROM tmp_transformation_dataset_ds AS ds LEFT JOIN tmp_transformation_dataset_rs_md AS md ON (ds.ni_ordering_till = md.ni_ordering_till) AND (ds.ni_ordering_from = md.ni_ordering_from)
WHERE ds.cd_join_type <> ''
ORDER BY md.ni_ordering_from, md.ni_ordering_till, md.ni_ordering;

