-- Query: tmp_transformation_utilized_columns
-- Created: 2025-10-19 21:13:05
-- Type: Select Query
-- SQL Statement:
SELECT tds.id_model, tds.id_transformation_part, tds.id_transformation_dataset, att.id_model AS id_source_model, att.id_attribute AS id_source_attribute, tds.cd_alias AS cd_source_alias, [tds].[cd_alias] & '.' & [att].[nm_target_column] AS tx_source_attribute_1, '[' & [tds].[cd_alias] & '].' & [att].[nm_target_column] AS tx_source_attribute_2, '[' & [tds].[cd_alias] & '].[' & [att].[nm_target_column] & ']' AS tx_source_attribute_3, '' & [tds].[cd_alias] & '.[' & [att].[nm_target_column] & ']' AS tx_source_attribute_4, '[alias-' & [tds].[id_model] & '-' & [tds].[id_transformation_dataset] & '].[column-' & [att].[id_model] & '-' & [att].[id_attribute] & ']' AS tx_placeholder
FROM (dta_transformation_dataset AS tds LEFT JOIN dta_dataset AS dst ON (tds.id_source_dataset = dst.id_dataset) AND (tds.id_source_model = dst.id_model)) LEFT JOIN (SELECT
att.id_model,
att.id_dataset,
att.id_attribute,
att.nm_target_column
FROM
dta_attribute AS att
UNION
SELECT
att.id_model,
att.id_dataset,
att.id_attribute,
att.nm_target_column
FROM
hlp_meta_attributes AS att
)  AS att ON (dst.id_dataset = att.id_dataset) AND (dst.id_model = att.id_model);

