-- Query: tmp_transformantion_dataset_rs_ni_and_tx_join_criteria
-- Created: 2025-10-14 12:57:44
-- Type: Select Query
-- SQL Statement:
SELECT '5f4a1942465c575a1f5a5a575d1e191c' AS id_model, '6d2df191e0faa40455d3305cb20b28f2' AS id_transformation_part, CreateMD5(
       '|' & '5f4a1942465c575a1f5a5a575d1e191c' &
       '|' & '6d2df191e0faa40455d3305cb20b28f2' &
       '|' & x.id_source_model &
       '|' & x.id_source_dataset &
       '|' & x.cd_alias &
       '|') AS id_transformation_dataset, (SELECT COUNT(*) FROM tmp_transformantion_dataset_rs_dist AS c WHERE c.id < x.id) AS ni_transformation_dataset, x.cd_join_type, x.id_source_model, x.id_source_dataset, x.cd_alias, agg_list (
         'tx_join_criteria', 'tmp_transformantion_dataset_rs_select',
         'cd_join_type = ''' & x.cd_join_type & ''' AND nm_target_schema = ''' & x.nm_target_schema & ''' AND nm_target_table  = ''' & x.nm_target_table & ''' AND cd_alias = ''' & x.cd_alias & ''' ORDER BY ni_join_criteria ASC', ' '
       ) AS tx_join_criteria
FROM tmp_transformantion_dataset_rs_dist AS x;

