-- Query: tmp_transformation_column_mapping_attribute
-- Created: 2025-11-01 21:01:27
-- Type: Select Query
-- SQL Statement:
SELECT map.id_model, map.id_transformation_column_mapping, CreateMD5('|' & map.id_model & '|' & map.id_transformation_column_mapping & '|' & att.cd_source_alias & '|' & att.id_source_model & '|' & att.id_source_attribute & '|') AS id_transformation_column_mapping_attribute, att.cd_source_alias, att.id_source_model, att.id_source_attribute, IIf(InStr(1,map.tx_transformation_column_mapping,att.tx_source_attribute_1)>0,att.tx_source_attribute_1,'') & IIf(InStr(1,map.tx_transformation_column_mapping,att.tx_source_attribute_2)>0,att.tx_source_attribute_2,'') & IIf(InStr(1,map.tx_transformation_column_mapping,att.tx_source_attribute_3)>0,att.tx_source_attribute_3,'') & IIf(InStr(1,map.tx_transformation_column_mapping,att.tx_source_attribute_3)>0,att.tx_source_attribute_4,'') AS tx_source_attribute, att.tx_placeholder
FROM dta_transformation_column_mapping AS map LEFT JOIN tmp_transformation_utilized_columns AS att ON (map.id_transformation_part = att.id_transformation_part) AND (map.id_model = att.id_model)
WHERE (((IIf(InStr(1,[map].[tx_transformation_column_mapping],[att].[tx_source_attribute_1])>0,[att].[tx_source_attribute_1],'') & IIf(InStr(1,[map].[tx_transformation_column_mapping],[att].[tx_source_attribute_2])>0,[att].[tx_source_attribute_2],'') & IIf(InStr(1,[map].[tx_transformation_column_mapping],[att].[tx_source_attribute_3])>0,[att].[tx_source_attribute_3],'') & IIf(InStr(1,[map].[tx_transformation_column_mapping],[att].[tx_source_attribute_3])>0,[att].[tx_source_attribute_4],''))<>''));

