-- Query: tmp_transformation_column_mapping_prv_step_2
-- Created: 2025-12-26 22:08:38
-- Type: Select Query
-- SQL Statement:
SELECT att.id_model, att.id_attribute, att.id_dataset, att.ni_ordering, CInt(Max(Nz([sp1].[prv_ni_ordering],-9999))) AS prv_ni_ordering
FROM dta_attribute AS att LEFT JOIN tmp_transformation_column_mapping_prv_step_1 AS sp1 ON (att.ni_ordering = sp1.cur_ni_ordering) AND (att.id_dataset = sp1.id_dataset) AND (att.id_attribute = sp1.id_attribute) AND (att.id_model = sp1.id_model)
GROUP BY att.id_model, att.id_attribute, att.id_dataset, att.ni_ordering
ORDER BY att.id_model, att.id_dataset, att.ni_ordering;

