-- Query: tmp_transformation_dataset_ni_insert
-- Created: 2025-10-14 12:57:44
-- Type: Append Query
-- SQL Statement:
INSERT INTO tmp_transformation_dataset_ni ( ni_ordering, id_source_model, id_dataset, nm_target_schema, nm_target_table, cd_join_type, cd_alias, tx_join_criteria, tx_sql )
SELECT ni_ordering, id_source_model, id_dataset, nm_target_schema, nm_target_table, cd_join_type, cd_alias, tx_join_criteria, tx_sql
FROM tmp_transformation_dataset_ni_select;

