-- Query: tmp_dataset_attribute_and_metadata_attributes
-- Created: 2025-11-01 21:01:27
-- Type: Select Query
-- SQL Statement:
SELECT ucm.id_model, ucm.id_transformation_column_mapping, CreateMD5('|' & [ucm].[id_model] & '|' & [ucm].[id_transformation_column_mapping] & '|' & [att].[id_model] & '|' & [att].[id_attribute] & '|') AS id_transformation_column_mapping_attribute, att.id_model AS id_source_model, att.id_attribute AS id_source_attribute, IIf(InStr(1,[tx_transformation_column_mapping],[tds].[cd_alias]+'.'+[att].[nm_target_column])>0,[tds].[cd_alias]+'.'+[att].[nm_target_column],'') & IIf(InStr(1,[tx_transformation_column_mapping],'['+[tds].[cd_alias]+'].'+[att].[nm_target_column])>0,'['+[tds].[cd_alias]+'].'+[att].[nm_target_column],'') & IIf(InStr(1,[tx_transformation_column_mapping],[tds].[cd_alias]+'.['+[att].[nm_target_column]+']')>0,[tds].[cd_alias]+'.['+[att].[nm_target_column]+']','') & IIf(InStr(1,[tx_transformation_column_mapping],'['+[tds].[cd_alias]+'].['+[att].[nm_target_column]+']')>0,'['+[tds].[cd_alias]+'].['+[att].[nm_target_column]+']','') AS tx_source_attribute
FROM ((dta_transformation_column_mapping AS ucm LEFT JOIN dta_transformation_dataset AS tds ON (ucm.id_transformation_part = tds.id_transformation_part) AND (ucm.id_model = tds.id_model)) LEFT JOIN dta_dataset AS dst ON (tds.id_source_model = dst.id_model) AND (tds.id_source_dataset = dst.id_dataset)) LEFT JOIN (SELECT
att.id_model,
att.id_dataset,
att.id_attribute,
att.nm_target_column
FROM
dta_attribute AS att
UNION
SELECT
att.id_model,
att.id_dataset,
att.id_attribute,
att.nm_target_column
FROM
hlp_meta_attributes AS att
)  AS att ON (dst.id_model = att.id_model) AND (dst.id_dataset = att.id_dataset)
WHERE (((IIf(InStr(1,[tx_transformation_column_mapping],[tds].[cd_alias]+'.'+[att].[nm_target_column])>0,[tds].[cd_alias]+'.'+[att].[nm_target_column],'') & IIf(InStr(1,[tx_transformation_column_mapping],'['+[tds].[cd_alias]+'].'+[att].[nm_target_column])>0,'['+[tds].[cd_alias]+'].'+[att].[nm_target_column],'') & IIf(InStr(1,[tx_transformation_column_mapping],[tds].[cd_alias]+'.['+[att].[nm_target_column]+']')>0,[tds].[cd_alias]+'.['+[att].[nm_target_column]+']','') & IIf(InStr(1,[tx_transformation_column_mapping],'['+[tds].[cd_alias]+'].['+[att].[nm_target_column]+']')>0,'['+[tds].[cd_alias]+'].['+[att].[nm_target_column]+']',''))<>''));

