-- Query: tmp_transformation_column_mapping_prv_step_5
-- Created: 2025-12-25 02:59:21
-- Type: Select Query
-- SQL Statement:
SELECT a.id_model, a.id_attribute, a.id_dataset, a.ni_ordering, a.nm_target_column, a.id_transformation_part, a.ni_transformation_part, a.tx_transformation_part, Trim(Mid([tx_transformation_part],[ni_position_from],[ni_position_length])) AS tx_mapping
FROM tmp_transformation_column_mapping_prv_step_4 AS a;

