-- Query: tmp_transformation_dataset_rs_md
-- Created: 2025-10-14 12:57:45
-- Type: Select Query
-- SQL Statement:
SELECT ds.ni_ordering_from, ds.ni_ordering_till, md.ni_ordering, md.tx_sql
FROM tmp_transformation_dataset_ni_select AS md, tmp_transformation_dataset_ds_select AS ds
WHERE (((ds.cd_join_type)     <> '') 
AND    ((ds.ni_ordering_till) <> ds.ni_ordering_from) 
AND    ((md.ni_ordering)      >= ds.ni_ordering_from)
AND    ((md.ni_ordering)      <= ds.ni_ordering_till));

