-- Query: tmp_transformation_column_mapping
-- Created: 2025-12-25 02:59:21
-- Type: Select Query
-- SQL Statement:
SELECT sp5.id_model, sp5.id_attribute, sp5.id_transformation_part, Trim(IIf(Left([sp5].[tx_mapping],1)=",",Right([sp5].[tx_mapping],Len([sp5].[tx_mapping])-1),[sp5].[tx_mapping])) AS tx_transformation_column_mapping, sp5.tx_transformation_part
FROM tmp_transformation_column_mapping_prv_step_5 AS sp5;

