-- Query: tmp_transformation_dataset_md_select
-- Created: 2025-10-14 12:57:44
-- Type: Select Query
-- SQL Statement:
SELECT txt.ni_ordering, txt.id_model AS id_source_model, prv.tx_sql_prev, txt.tx_sql, nxt.tx_sql_next, Nz([ds1].[id_dataset],       Nz([ds2].[id_dataset],       Nz([ds3].[id_dataset],       [ds4].[id_dataset]))) AS id_dataset, Nz([ds1].[nm_target_schema], Nz([ds2].[nm_target_schema], Nz([ds3].[nm_target_schema], [ds4].[nm_target_schema]))) AS nm_target_schema, Nz([ds1].[nm_target_table],  Nz([ds2].[nm_target_table],  Nz([ds3].[nm_target_table],  [ds4].[nm_target_table]))) AS nm_target_table, IIf([nxt].[tx_sql_next] = 'AS', True, False) AS is_next_word_alias_keyword, IIf([prv].[tx_sql_prev] IN ('FROM', 'JOIN'), True, False) AS is_prev_word_from_or_join_keyword, IIf([txt].[tx_sql] IN ('INNER', 'CROSS', 'LEFT', 'RIGHT', 'FULL', 'JOIN', 'ON', 'FROM', 'WHERE', 'WHEN'), 1, 0) AS is_keyword
FROM (((((tmp_transformation_dataset_md_txt AS txt LEFT JOIN tmp_transformation_dataset_md_nxt AS nxt ON (txt.id_model = nxt.id_model) AND (txt.ni_ordering = nxt.ni_ordering)) LEFT JOIN tmp_transformation_dataset_md_prv AS prv ON (txt.id_model = prv.id_model) AND (txt.ni_ordering = prv.ni_ordering)) LEFT JOIN tmp_transformation_dataset_md_dst AS ds1 ON (txt.tx_sql = ds1.tx_sql_match_1) AND (txt.id_model = ds1.id_model)) LEFT JOIN tmp_transformation_dataset_md_dst AS ds2 ON (txt.tx_sql = ds2.tx_sql_match_2) AND (txt.id_model = ds2.id_model)) LEFT JOIN tmp_transformation_dataset_md_dst AS ds3 ON (txt.tx_sql = ds3.tx_sql_match_3) AND (txt.id_model = ds3.id_model)) LEFT JOIN tmp_transformation_dataset_md_dst AS ds4 ON (txt.tx_sql = ds4.tx_sql_match_4) AND (txt.id_model = ds4.id_model);

