-- Query: tmp_transformation_column_mapping_prv_step_1
-- Created: 2025-12-26 22:08:38
-- Type: Select Query
-- SQL Statement:
SELECT att.id_model, att.id_attribute, att.id_dataset, att.ni_ordering AS cur_ni_ordering, prv.ni_ordering AS prv_ni_ordering
FROM dta_attribute AS att LEFT JOIN dta_attribute AS prv ON (att.id_model = prv.id_model) AND (att.id_dataset = prv.id_dataset)
WHERE (((prv.ni_ordering)<[att].[ni_ordering]));

