-- Query: tmp_transformation_dataset_ni_als_foj_jtp
-- Created: 2025-10-14 12:57:44
-- Type: Select Query
-- SQL Statement:
SELECT md.ni_ordering, md.id_source_model, md.id_dataset, md.nm_target_schema, md.nm_target_table, md.tx_sql, md.tx_sql_prev, md.tx_sql_next, md.is_next_word_alias_keyword, md.is_prev_word_from_or_join_keyword, md.is_keyword, Iif(md.nm_target_schema IS NULL, -1,
      Iif(md.is_next_word_alias_keyword = True,
          md.ni_ordering + 2,
          md.ni_ordering + 1)
  ) AS ni_ordering_for_join_with_als, Iif(md.nm_target_schema IS NULL, -1,
      Iif(md.is_prev_word_from_or_join_keyword = True,
          md.ni_ordering - 1,
          -1)
  ) AS ni_ordering_for_join_with_foj, Iif(md.nm_target_schema IS NULL, -1,
      Iif(md.is_prev_word_from_or_join_keyword = True,
          Iif((SELECT CStr(tx_sql) FROM tmp_transformation_dataset_md AS tx WHERE tx.ni_ordering = (md.ni_ordering - 2)) IN ('INNER', 'CROSS', 'RIGHT', 'LEFT', 'FULL'),
              md.ni_ordering - 2,
              -1
          ),
          -1
      )
  ) AS ni_ordering_for_join_with_jtp
FROM tmp_transformation_dataset_md AS md
WHERE md.tx_sql NOT IN ('FROM', 'JOIN', 'INNER', 'CROSS', 'LEFT', 'RIGHT');

