-- Query: tmp_transformation_dataset_attribute
-- Created: 2025-10-19 21:13:05
-- Type: Select Query
-- SQL Statement:
SELECT map.id_model, map.id_transformation_dataset, CreateMD5('|' & [map].[id_model] & '|' & [map].[id_transformation_dataset] & [att].[cd_source_alias] & '|' & [att].[id_source_model] & '|' & [att].[id_source_attribute] & '|') AS id_transformation_dataset_attribute, 'HAVING' AS cd_transformation_part_clause_type, att.cd_source_alias, att.id_source_model, att.id_source_attribute, att.tx_placeholder, Trim(IIf(InStr(1,[map].[tx_join_criteria],[att].[tx_source_attribute_1])>0,[att].[tx_source_attribute_1],' ') & IIf(InStr(1,[map].[tx_join_criteria],[att].[tx_source_attribute_2])>0,[att].[tx_source_attribute_2],' ') & IIf(InStr(1,[map].[tx_join_criteria],[att].[tx_source_attribute_3])>0,[att].[tx_source_attribute_3],' ') & IIf(InStr(1,[map].[tx_join_criteria],[att].[tx_source_attribute_4])>0,[att].[tx_source_attribute_4],' ')) AS tx_source_attribute
FROM dta_transformation_dataset AS map INNER JOIN tmp_transformation_utilized_columns AS att ON (map.id_transformation_part = att.id_transformation_part) AND (map.id_model = att.id_model)
WHERE (((Trim(IIf(InStr(1,[map].[tx_join_criteria],[att].[tx_source_attribute_1])>0,[att].[tx_source_attribute_1],' ') & IIf(InStr(1,[map].[tx_join_criteria],[att].[tx_source_attribute_2])>0,[att].[tx_source_attribute_2],' ') & IIf(InStr(1,[map].[tx_join_criteria],[att].[tx_source_attribute_3])>0,[att].[tx_source_attribute_3],' ') & IIf(InStr(1,[map].[tx_join_criteria],[att].[tx_source_attribute_4])>0,[att].[tx_source_attribute_4],' ')))<>''));

