-- Query: tmp_transformation_dataset_nx
-- Created: 2025-12-26 22:08:38
-- Type: Select Query
-- SQL Statement:
SELECT f.cd_join_type, f.id_dataset AS id_source_dataset, f.id_source_model, f.nm_target_schema, f.nm_target_table, f.cd_alias, IIf(
        [f].[ni_ordering_from] + [f].[is_join_type_not_from] > [m].[ni_ordering],
        [m].[ni_ordering],
        [f].[ni_ordering_from] + [f].[is_join_type_not_from]
    ) AS ni_ordering_from, [t].[ni_ordering_till] - [t].[is_not_last] AS ni_ordering_till, t.ni_ordering_till AS original, f.is_join_type_not_from, t.is_not_last, m.[ni_ordering] AS ni_ordering_max
FROM tmp_transformation_dataset_ls AS m, (SELECT
            idx.*,
            [als].[ni_ordering] + 1 AS ni_ordering_from,
            IIf(idx.cd_join_type = "FROM", 0, 1) AS is_join_type_not_from
        FROM
            tmp_transformation_dataset_ni AS idx,
            tmp_transformation_dataset_ni AS als
        WHERE
            (
                (
                    (
                        Replace(Replace(CStr ([als].[tx_sql]), "[", ""), "]", "")
                    ) = [idx].[cd_alias]
                )
            )
    )  AS f INNER JOIN (SELECT
            a.cd_join_type,
            a.nm_target_schema,
            a.nm_target_table,
            a.cd_alias,
            Nz ([n].[nxt_ni_ordering], [a].[max_ni_ordering]) AS ni_ordering_till,
            IIf(ISNull(n.ni_ordering), 0, 1) AS is_not_last
        FROM
            (
                SELECT
                    ni.*,
                    ls.ni_ordering AS max_ni_ordering
                FROM
                    tmp_transformation_dataset_ni AS ni,
                    tmp_transformation_dataset_ls AS ls
                WHERE
                    ((LEN(ni.cd_join_type) > 0))
            ) AS a
            LEFT JOIN (
                SELECT
                    c.ni_ordering,
                    Min(n.ni_ordering) AS nxt_ni_ordering
                FROM
                    (
                        SELECT
                            *
                        FROM
                            tmp_transformation_dataset_ni
                        WHERE
                            (
                                (
                                    LEN(tmp_transformation_dataset_ni.cd_join_type) > 0
                                )
                            )
                    ) AS c,
                    (
                        SELECT
                            *
                        FROM
                            tmp_transformation_dataset_ni
                        WHERE
                            (
                                (
                                    LEN(tmp_transformation_dataset_ni.cd_join_type) > 0
                                )
                            )
                    ) AS n
                WHERE
                    (((n.ni_ordering) > [c].[ni_ordering]))
                GROUP BY
                    c.ni_ordering
            ) AS n ON a.ni_ordering = n.ni_ordering
    )  AS t ON (f.cd_join_type = t.cd_join_type) AND (f.nm_target_schema = t.nm_target_schema) AND (f.nm_target_table = t.nm_target_table) AND (f.cd_alias = t.cd_alias);

