-- Query: tmp_transformation_column_mapping_prv_step_4
-- Created: 2025-12-26 22:08:38
-- Type: Select Query
-- SQL Statement:
SELECT c.id_dataset, c.id_model, c.id_attribute, c.id_transformation_part, c.ni_transformation_part, c.ni_ordering, c.nm_target_column, c.ni_position, c.ni_length, p.ni_position, p.ni_length, Nz([p].[ni_position],8)+IIf(IsNull([p].[ni_position])=True,0,[p].[ni_length]) AS ni_position_from, [c].[ni_position]-(Nz([p].[ni_position],8)+IIf(IsNull([p].[ni_position])=True,0,[p].[ni_length])) AS ni_position_length, c.tx_transformation_part
FROM tmp_transformation_column_mapping_prv_step_3 AS c LEFT JOIN tmp_transformation_column_mapping_prv_step_3 AS p ON (c.id_transformation_part = p.id_transformation_part) AND (c.prv_ni_ordering = p.ni_ordering) AND (c.id_dataset = p.id_dataset) AND (c.id_model = p.id_model)
ORDER BY c.id_dataset, c.id_model, c.ni_transformation_part, c.ni_ordering;

