-- Query: tmp_transformation_dataset_ls_insert
-- Created: 2025-10-14 12:57:44
-- Type: Append Query
-- SQL Statement:
INSERT INTO tmp_transformation_dataset_ls ( ni_ordering )
SELECT MAX(ni.ni_ordering) AS ni_ordering
FROM tmp_transformation_dataset_ni AS ni;

