-- Query: tmp_transformation_dataset_md_txt
-- Created: 2025-10-14 12:57:44
-- Type: Select Query
-- SQL Statement:
SELECT txt.id_model, CStr(txt.tx_sql) AS tx_sql, (txt.ni_ordering + 0) AS ni_ordering
FROM tmp_transformation_dataset_tx AS txt;

