-- Query: tmp_transformation_dataset_join_criteria
-- Created: 2025-12-26 22:08:38
-- Type: Select Query
-- SQL Statement:
SELECT nx.cd_join_type, nx.id_source_dataset, nx.id_source_model, nx.nm_target_schema, nx.nm_target_table, nx.cd_alias, nx.ni_ordering_from, nx.ni_ordering_till, tx.ni_ordering, tx.tx_sql, IIf(
            [nx].[cd_join_type] = "FROM"
            OR 
            [nx].[cd_alias] = REPLACE(REPLACE(CStr([tx].[tx_sql]),"[",""),"]","")
        , "",
        CStr ([tx].[tx_sql])
    ) AS tx_join_criteria
FROM tmp_transformation_dataset_nx AS nx, tmp_transformation_dataset_tx AS tx
WHERE (
        (
            (tx.ni_ordering) >= [nx].[ni_ordering_from]
            AND (tx.ni_ordering) <= [nx].[ni_ordering_till]
        )
    );

