-- Query: tmp_transformation_dataset_ni_select
-- Created: 2025-11-01 21:24:24
-- Type: Select Query
-- SQL Statement:
SELECT md.tx_sql, md.ni_ordering, md.id_source_model, md.id_dataset, md.nm_target_schema, md.nm_target_table, IIf(
      Nz(foj.tx_sql, 'n/a') NOT IN ('FROM', 'JOIN'), '',
      Iif(Nz(jtp.tx_sql, '') IN ('INNER', 'CROSS', 'LEFT', 'RIGHT'), Nz(jtp.tx_sql, '') & ' ', '')
  ) & Nz(foj.tx_sql, '') AS cd_join_type, Replace(Replace(Nz(als.tx_sql, ''),
    '[', ''), ']', ''
  ) AS cd_alias, Iif(
    md.is_prev_word_from_or_join_keyword = 1 AND Nz(foj.tx_sql, '')  = 'FROM', NULL, Iif(
    md.is_prev_word_from_or_join_keyword = 1 AND Nz(foj.tx_sql, '') <> 'FROM', 'JOIN-CRIETERIA',
    NULL)
  ) AS tx_join_criteria, md.tx_sql_prev, md.tx_sql_next, md.ni_ordering_for_join_with_als
FROM ((tmp_transformation_dataset_ni_als_foj_jtp AS md LEFT JOIN tmp_transformation_dataset_md AS als ON als.ni_ordering = md.ni_ordering_for_join_with_als) LEFT JOIN tmp_transformation_dataset_md AS foj ON foj.ni_ordering = md.ni_ordering_for_join_with_foj) LEFT JOIN tmp_transformation_dataset_md AS jtp ON jtp.ni_ordering = md.ni_ordering_for_join_with_jtp;

