-- Query: tmp_transformantion_dataset_rs_dist
-- Created: 2025-10-14 12:57:44
-- Type: Select Query
-- SQL Statement:
SELECT DISTINCT ds.cd_join_type, ds.id_source_model, ds.id_source_dataset, ds.nm_target_schema, ds.nm_target_table, ds.cd_alias, ds.cd_join_type & '|' & ds.nm_target_schema & '|' & ds.nm_target_table & '|' & ds.cd_alias AS id
FROM tmp_transformantion_dataset_rs_select AS ds;

