-- Query: tmp_transformation_dataset_md_insert
-- Created: 2025-10-14 12:57:44
-- Type: Append Query
-- SQL Statement:
INSERT INTO tmp_transformation_dataset_md ( ni_ordering, id_source_model, id_dataset, nm_target_schema, nm_target_table, tx_sql, tx_sql_prev, tx_sql_next, is_next_word_alias_keyword, is_prev_word_from_or_join_keyword, is_keyword )
SELECT tx.ni_ordering, tx.id_source_model, tx.id_dataset, tx.nm_target_schema, tx.nm_target_table, tx.tx_sql, tx.tx_sql_prev, tx.tx_sql_next, tx.is_next_word_alias_keyword, tx.is_prev_word_from_or_join_keyword, tx.is_keyword
FROM tmp_transformation_dataset_md_select AS tx;

