-- Table: dqm_dq_requirement
-- Created: 2025-10-16 23:47:19
-- Records: 0
-- SQL Statement:
CREATE TABLE [dqm_dq_requirement] (
    [id_model] VARCHAR(32),
    [id_dq_requirement] VARCHAR(255),
    [id_development_status] VARCHAR(255),
    [cd_dq_requirement] VARCHAR(32),
    [fn_dq_requirement] VARCHAR(128),
    [fd_dq_requirement] TEXT,
    [dt_valid_from] DATETIME,
    [dt_valid_till] DATETIME
);

-- Index: dta_modeldqm_dq_requirement
CREATE INDEX [dta_modeldqm_dq_requirement] ON [dqm_dq_requirement] ([id_model]);

