-- Table: dqm_dq_threshold
-- Created: 2025-07-04 22:53:21
-- Records: 0

CREATE TABLE [dqm_dq_threshold] (
    [id_model] VARCHAR(32),
    [id_dq_threshold] VARCHAR(255),
    [id_dq_risk_level] VARCHAR(32),
    [id_dq_control] VARCHAR(32),
    [nr_dq_threshold_from] VARCHAR(255),
    [nr_dq_threshold_till] VARCHAR(255),
    [dt_valid_from] DATETIME,
    [dt_valid_till] DATETIME
);

-- Index: dqm_dq_controldqm_dq_threshold
CREATE INDEX [dqm_dq_controldqm_dq_threshold] ON [dqm_dq_threshold] ([id_model], [id_dq_control]);

-- Index: dqm_dq_thresholdid_dq_control
CREATE INDEX [dqm_dq_thresholdid_dq_control] ON [dqm_dq_threshold] ([id_model], [id_dq_control], [id_dq_control]);

-- Index: dqm_dq_thresholdid_dq_risk_level
CREATE INDEX [dqm_dq_thresholdid_dq_risk_level] ON [dqm_dq_threshold] ([id_model], [id_dq_control], [id_dq_control], [id_dq_risk_level]);

-- Index: dta_modeldqm_dq_threshold
CREATE INDEX [dta_modeldqm_dq_threshold] ON [dqm_dq_threshold] ([id_model], [id_dq_control], [id_dq_control], [id_dq_risk_level], [id_model]);

-- Index: id_dq_threshold
CREATE INDEX [id_dq_threshold] ON [dqm_dq_threshold] ([id_model], [id_dq_control], [id_dq_control], [id_dq_risk_level], [id_model], [id_dq_threshold]);

-- Index: id_model
CREATE INDEX [id_model] ON [dqm_dq_threshold] ([id_model], [id_dq_control], [id_dq_control], [id_dq_risk_level], [id_model], [id_dq_threshold], [id_model]);

-- Primary Key: PrimaryKey
ALTER TABLE [dqm_dq_threshold] ADD CONSTRAINT [PrimaryKey] PRIMARY KEY ([id_model], [id_dq_control], [id_dq_control], [id_dq_risk_level], [id_model], [id_dq_threshold], [id_model], [id_model], [id_dq_threshold]);

-- Index: srd_dq_risk_leveldqm_dq_threshold
CREATE INDEX [srd_dq_risk_leveldqm_dq_threshold] ON [dqm_dq_threshold] ([id_model], [id_dq_control], [id_dq_control], [id_dq_risk_level], [id_model], [id_dq_threshold], [id_model], [id_model], [id_dq_threshold], [id_model], [id_dq_risk_level]);

