-- Table: dqm_dq_control
-- Created: 2025-07-04 22:53:21
-- Records: 0

CREATE TABLE [dqm_dq_control] (
    [id_model] VARCHAR(255),
    [id_dq_control] VARCHAR(255),
    [id_dq_requirement] VARCHAR(32),
    [id_development_status] VARCHAR(255),
    [id_dq_dimension] VARCHAR(32),
    [id_dataset] VARCHAR(32),
    [cd_dq_control] VARCHAR(32),
    [fn_dq_control] VARCHAR(128),
    [fd_dq_control] TEXT,
    [tx_dq_control_query] TEXT,
    [dt_valid_from] DATETIME,
    [dt_valid_till] DATETIME
);

-- Index: dqm_dq_contolid_dataset
CREATE INDEX [dqm_dq_contolid_dataset] ON [dqm_dq_control] ([id_dataset]);

-- Index: dqm_dq_contolid_dq_dimension
CREATE INDEX [dqm_dq_contolid_dq_dimension] ON [dqm_dq_control] ([id_dataset], [id_dq_dimension]);

-- Index: dqm_dq_contolid_dq_requirement
CREATE INDEX [dqm_dq_contolid_dq_requirement] ON [dqm_dq_control] ([id_dataset], [id_dq_dimension], [id_dq_requirement]);

-- Index: dqm_dq_requirementdqm_dq_control
CREATE INDEX [dqm_dq_requirementdqm_dq_control] ON [dqm_dq_control] ([id_dataset], [id_dq_dimension], [id_dq_requirement], [id_model], [id_dq_requirement]);

-- Index: dta_datasetdqm_dq_control
CREATE INDEX [dta_datasetdqm_dq_control] ON [dqm_dq_control] ([id_dataset], [id_dq_dimension], [id_dq_requirement], [id_model], [id_dq_requirement], [id_model], [id_dataset]);

-- Index: dta_modeldqm_dq_control
CREATE INDEX [dta_modeldqm_dq_control] ON [dqm_dq_control] ([id_dataset], [id_dq_dimension], [id_dq_requirement], [id_model], [id_dq_requirement], [id_model], [id_dataset], [id_model]);

-- Index: id_development_status
CREATE INDEX [id_development_status] ON [dqm_dq_control] ([id_dataset], [id_dq_dimension], [id_dq_requirement], [id_model], [id_dq_requirement], [id_model], [id_dataset], [id_model], [id_development_status]);

-- Index: id_dq_control
CREATE INDEX [id_dq_control] ON [dqm_dq_control] ([id_dataset], [id_dq_dimension], [id_dq_requirement], [id_model], [id_dq_requirement], [id_model], [id_dataset], [id_model], [id_development_status], [id_dq_control]);

-- Index: id_model
CREATE INDEX [id_model] ON [dqm_dq_control] ([id_dataset], [id_dq_dimension], [id_dq_requirement], [id_model], [id_dq_requirement], [id_model], [id_dataset], [id_model], [id_development_status], [id_dq_control], [id_model]);

-- Primary Key: PrimaryKey
ALTER TABLE [dqm_dq_control] ADD CONSTRAINT [PrimaryKey] PRIMARY KEY ([id_dataset], [id_dq_dimension], [id_dq_requirement], [id_model], [id_dq_requirement], [id_model], [id_dataset], [id_model], [id_development_status], [id_dq_control], [id_model], [id_model], [id_dq_control]);

-- Index: srd_development_statusdqm_dq_control
CREATE INDEX [srd_development_statusdqm_dq_control] ON [dqm_dq_control] ([id_dataset], [id_dq_dimension], [id_dq_requirement], [id_model], [id_dq_requirement], [id_model], [id_dataset], [id_model], [id_development_status], [id_dq_control], [id_model], [id_model], [id_dq_control], [id_model], [id_development_status]);

-- Index: srd_dq_dimensiondqm_dq_control
CREATE INDEX [srd_dq_dimensiondqm_dq_control] ON [dqm_dq_control] ([id_dataset], [id_dq_dimension], [id_dq_requirement], [id_model], [id_dq_requirement], [id_model], [id_dataset], [id_model], [id_development_status], [id_dq_control], [id_model], [id_model], [id_dq_control], [id_model], [id_development_status], [id_model], [id_dq_dimension]);

