-- Table: dta_transformation_part
-- Created: 2025-10-16 23:47:19
-- Records: 1
-- SQL Statement:
CREATE TABLE [dta_transformation_part] (
    [id_model] VARCHAR(32),
    [id_dataset] VARCHAR(32),
    [id_transformation_part] VARCHAR(32),
    [ni_transformation_part] INT,
    [tx_transformation_part] TEXT,
    [tx_transformation_part_where_clause] TEXT,
    [tx_transformation_part_group_by_clause] TEXT,
    [tx_transformation_part_having_clause] TEXT
);

-- Index: id_dataset
CREATE INDEX [id_dataset] ON [dta_transformation_part] ([id_dataset]);

