-- Table: dta_transformation_dataset
-- Created: 2025-10-16 23:47:19
-- Records: 2
-- SQL Statement:
CREATE TABLE [dta_transformation_dataset] (
    [id_model] VARCHAR(32),
    [id_transformation_part] VARCHAR(32),
    [id_transformation_dataset] VARCHAR(255),
    [ni_transformation_dataset] INT,
    [cd_join_type] VARCHAR(32),
    [id_source_model] VARCHAR(32),
    [id_source_dataset] VARCHAR(32),
    [cd_alias] VARCHAR(32),
    [tx_join_criteria] TEXT
);

-- Index: id_model
CREATE INDEX [id_model] ON [dta_transformation_dataset] ([id_model]);

