-- Table: dta_transformation_column_mapping
-- Created: 2025-10-16 23:47:19
-- Records: 3
-- SQL Statement:
CREATE TABLE [dta_transformation_column_mapping] (
    [id_model] VARCHAR(32),
    [id_attribute] VARCHAR(32),
    [id_transformation_part] VARCHAR(32),
    [id_transformation_column_mapping] VARCHAR(255),
    [tx_transformation_column_mapping] TEXT,
    [is_in_group_by] BIT
);

-- Index: id_attribute
CREATE INDEX [id_attribute] ON [dta_transformation_column_mapping] ([id_attribute]);

