-- Table: dta_transformation_part_attribute
-- Created: 2025-10-16 23:47:19
-- Records: 0
-- SQL Statement:
CREATE TABLE [dta_transformation_part_attribute] (
    [id_model] VARCHAR(32),
    [id_transformation_part] VARCHAR(32),
    [id_transformation_part_attribute] VARCHAR(32),
    [cd_transformation_part_clause_type] VARCHAR(32),
    [cd_source_alias] VARCHAR(32),
    [id_source_model] VARCHAR(32),
    [id_source_attribute] VARCHAR(32),
    [tx_source_attribute] VARCHAR(255)
);

-- Index: id_model
CREATE INDEX [id_model] ON [dta_transformation_part_attribute] ([id_model]);

