-- Table: dta_attribute
-- Created: 2025-07-04 22:53:21
-- Records: 34

CREATE TABLE [dta_attribute] (
    [id_model] VARCHAR(32),
    [id_attribute] VARCHAR(255),
    [id_dataset] VARCHAR(32),
    [id_datatype] VARCHAR(32),
    [fn_attribute] VARCHAR(128),
    [fd_attribute] TEXT,
    [ni_ordering] INT,
    [nm_target_column] VARCHAR(128),
    [is_businesskey] BIT,
    [is_nullable] BIT
);

-- Index: dta_attributeid_dataset
CREATE INDEX [dta_attributeid_dataset] ON [dta_attribute] ([id_dataset]);

-- Index: dta_attributeid_datatype
CREATE INDEX [dta_attributeid_datatype] ON [dta_attribute] ([id_dataset], [id_datatype]);

-- Index: dta_datasetdta_attribute
CREATE INDEX [dta_datasetdta_attribute] ON [dta_attribute] ([id_dataset], [id_datatype], [id_model], [id_dataset]);

-- Index: dta_modeldta_attribute
CREATE INDEX [dta_modeldta_attribute] ON [dta_attribute] ([id_dataset], [id_datatype], [id_model], [id_dataset], [id_model]);

-- Index: id_attribute
CREATE INDEX [id_attribute] ON [dta_attribute] ([id_dataset], [id_datatype], [id_model], [id_dataset], [id_model], [id_attribute]);

-- Index: id_model
CREATE INDEX [id_model] ON [dta_attribute] ([id_dataset], [id_datatype], [id_model], [id_dataset], [id_model], [id_attribute], [id_model]);

-- Primary Key: PrimaryKey
ALTER TABLE [dta_attribute] ADD CONSTRAINT [PrimaryKey] PRIMARY KEY ([id_dataset], [id_datatype], [id_model], [id_dataset], [id_model], [id_attribute], [id_model], [id_model], [id_attribute]);

-- Index: srd_datatypedta_attribute
CREATE INDEX [srd_datatypedta_attribute] ON [dta_attribute] ([id_dataset], [id_datatype], [id_model], [id_dataset], [id_model], [id_attribute], [id_model], [id_model], [id_attribute], [id_model], [id_datatype]);

