-- Table: dta_transformation_attribute
-- Created: 2025-10-18 22:32:07
-- Records: 0
-- SQL Statement:
CREATE TABLE [dta_transformation_attribute] (
    [id_model] VARCHAR(32),
    [id_transformation_mapping] VARCHAR(32),
    [id_transformation_attribute] VARCHAR(32),
    [cd_join_type] VARCHAR(32),
    [id_source_model] VARCHAR(32),
    [id_source_attribute] VARCHAR(32),
    [tx_source_attribute] VARCHAR(255)
);

-- Index: id_model
CREATE INDEX [id_model] ON [dta_transformation_attribute] ([id_model]);

