-- Table: dta_schedule
-- Created: 2025-10-16 23:47:19
-- Records: 0
-- SQL Statement:
CREATE TABLE [dta_schedule] (
    [id_model] VARCHAR(32),
    [id_dataset] VARCHAR(32),
    [id_schedule] VARCHAR(32),
    [cd_frequency] VARCHAR(255),
    [ni_LONGerval] INT,
    [dt_start] DATETIME,
    [dt_end] DATETIME
);

-- Unique Index: dta_datasetdta_schedule
CREATE UNIQUE INDEX [dta_datasetdta_schedule] ON [dta_schedule] ([id_model], [id_dataset]);

