-- Table: dta_model
-- Created: 2025-10-16 23:47:19
-- Records: 1
-- SQL Statement:
CREATE TABLE [dta_model] (
    [id_model] VARCHAR(32),
    [nm_repository] VARCHAR(16)
);

-- Index: id_model
CREATE INDEX [id_model] ON [dta_model] ([id_model]);

