-- Table: dta_dataset
-- Created: 2025-10-17 13:34:04
-- Records: 45
-- SQL Statement:
CREATE TABLE [dta_dataset] (
    [id_model] VARCHAR(32),
    [id_dataset] VARCHAR(255),
    [id_development_status] VARCHAR(255),
    [id_group] VARCHAR(32),
    [is_ingestion] BIT,
    [fn_dataset] VARCHAR(128),
    [fd_dataset] TEXT,
    [nm_target_schema] VARCHAR(128),
    [nm_target_table] VARCHAR(128),
    [tx_source_query] TEXT
);

-- Unique Index: dta_dataset_logickey
CREATE UNIQUE INDEX [dta_dataset_logickey] ON [dta_dataset] ([id_model], [fn_dataset]);

