-- Table: hlp_folders_and_files
-- Created: 2026-01-11 01:02:57
-- Records: 387
-- SQL Statement:
CREATE TABLE [hlp_folders_and_files] (
    [cd_type] VARCHAR(255),
    [fp_relative] TEXT,
    [fp_full] TEXT,
    [ni_depth] INT DEFAULT 0
);

