-- Table: hlp_meta_attributes
-- Created: 2025-10-19 21:13:04
-- Records: 0
-- SQL Statement:
CREATE TABLE [hlp_meta_attributes] (
    [id_model] VARCHAR(32),
    [id_attribute] VARCHAR(32),
    [id_dataset] VARCHAR(32),
    [nm_target_column] VARCHAR(255)
);

-- Index: id_dataset
CREATE INDEX [id_dataset] ON [hlp_meta_attributes] ([id_dataset]);

