-- Table: hlp_attribute_with_mapping
-- Created: 2025-10-16 23:47:19
-- Records: 0
-- SQL Statement:
CREATE TABLE [hlp_attribute_with_mapping] (
    [id] IDENTITY(1,1) INT,
    [id_dataset_target] VARCHAR(255),
    [id_attribute_target] VARCHAR(32),
    [id_dataset_source] VARCHAR(255),
    [id_attribute_source] VARCHAR(32),
    [tx_mapping_source] VARCHAR(255)
);

-- Index: dta_attributeid_dataset
CREATE INDEX [dta_attributeid_dataset] ON [hlp_attribute_with_mapping] ([id_attribute_target]);

