-- Table: hlp_union_more_then_2
-- Created: 2025-07-04 22:53:21
-- Records: 1

CREATE TABLE [hlp_union_more_then_2] (
    [id_dataset] VARCHAR(32),
    [tx_source_query] TEXT
);

-- Index: id_dataset
CREATE INDEX [id_dataset] ON [hlp_union_more_then_2] ([id_dataset]);

-- Primary Key: PrimaryKey
ALTER TABLE [hlp_union_more_then_2] ADD CONSTRAINT [PrimaryKey] PRIMARY KEY ([id_dataset], [id_dataset]);

