-- Table: ohg_hierarchy
-- Created: 2025-07-04 22:53:21
-- Records: 0

CREATE TABLE [ohg_hierarchy] (
    [id_model] VARCHAR(32),
    [id_hierarchy] VARCHAR(255),
    [id_group] VARCHAR(255),
    [id_hierarchy_parent] VARCHAR(32)
);

-- Index: dta_modelohg_hierarchy
CREATE INDEX [dta_modelohg_hierarchy] ON [ohg_hierarchy] ([id_model]);

-- Index: id_group
CREATE INDEX [id_group] ON [ohg_hierarchy] ([id_model], [id_group]);

-- Index: id_hierarchy
CREATE INDEX [id_hierarchy] ON [ohg_hierarchy] ([id_model], [id_group], [id_hierarchy]);

-- Index: id_model
CREATE INDEX [id_model] ON [ohg_hierarchy] ([id_model], [id_group], [id_hierarchy], [id_model]);

-- Index: ohg_groupohg_hierarchy
CREATE INDEX [ohg_groupohg_hierarchy] ON [ohg_hierarchy] ([id_model], [id_group], [id_hierarchy], [id_model], [id_model], [id_group]);

-- Index: ohg_hierarchyid_hierarchy_parent
CREATE INDEX [ohg_hierarchyid_hierarchy_parent] ON [ohg_hierarchy] ([id_model], [id_group], [id_hierarchy], [id_model], [id_model], [id_group], [id_hierarchy_parent]);

-- Primary Key: PrimaryKey
ALTER TABLE [ohg_hierarchy] ADD CONSTRAINT [PrimaryKey] PRIMARY KEY ([id_model], [id_group], [id_hierarchy], [id_model], [id_model], [id_group], [id_hierarchy_parent], [id_model], [id_hierarchy]);

