-- Table: ohg_related
-- Created: 2025-07-04 22:53:21
-- Records: 0

CREATE TABLE [ohg_related] (
    [id_model] VARCHAR(32),
    [id_related] VARCHAR(255),
    [id_dataset] VARCHAR(32),
    [id_group] VARCHAR(32)
);

-- Index: dta_datasetohg_related
CREATE INDEX [dta_datasetohg_related] ON [ohg_related] ([id_model], [id_dataset]);

-- Index: dta_modelohg_related
CREATE INDEX [dta_modelohg_related] ON [ohg_related] ([id_model], [id_dataset], [id_model]);

-- Index: id_model
CREATE INDEX [id_model] ON [ohg_related] ([id_model], [id_dataset], [id_model], [id_model]);

-- Index: id_related
CREATE INDEX [id_related] ON [ohg_related] ([id_model], [id_dataset], [id_model], [id_model], [id_related]);

-- Index: ohg_groupohg_related
CREATE INDEX [ohg_groupohg_related] ON [ohg_related] ([id_model], [id_dataset], [id_model], [id_model], [id_related], [id_model], [id_group]);

-- Index: ohg_relatedid_dataset
CREATE INDEX [ohg_relatedid_dataset] ON [ohg_related] ([id_model], [id_dataset], [id_model], [id_model], [id_related], [id_model], [id_group], [id_dataset]);

-- Index: ohg_relatedid_group
CREATE INDEX [ohg_relatedid_group] ON [ohg_related] ([id_model], [id_dataset], [id_model], [id_model], [id_related], [id_model], [id_group], [id_dataset], [id_group]);

-- Primary Key: PrimaryKey
ALTER TABLE [ohg_related] ADD CONSTRAINT [PrimaryKey] PRIMARY KEY ([id_model], [id_dataset], [id_model], [id_model], [id_related], [id_model], [id_group], [id_dataset], [id_group], [id_model], [id_related]);

