-- Table: repo
-- Created: 2025-10-16 23:47:19
-- Records: 1
-- SQL Statement:
CREATE TABLE [repo] (
    [nm_repo] VARCHAR(16),
    [tx_folderpath] TEXT
);

-- Primary Key: PrimaryKey
ALTER TABLE [repo] ADD CONSTRAINT [PrimaryKey] PRIMARY KEY ([nm_repo]);

