-- Table: srd_parameter
-- Created: 2025-07-04 22:53:22
-- Records: 65

CREATE TABLE [srd_parameter] (
    [id_model] VARCHAR(32),
    [id_parameter] VARCHAR(32),
    [id_parameter_group] VARCHAR(32),
    [nm_parameter] VARCHAR(128),
    [fn_parameter] VARCHAR(128),
    [fd_parameter] VARCHAR(255)
);

-- Index: dta_modelsrd_parameter
CREATE INDEX [dta_modelsrd_parameter] ON [srd_parameter] ([id_model]);

-- Index: id_model
CREATE INDEX [id_model] ON [srd_parameter] ([id_model], [id_model]);

-- Index: id_parameter_group
CREATE INDEX [id_parameter_group] ON [srd_parameter] ([id_model], [id_model], [id_parameter_group]);

-- Index: id_parameter_name
CREATE INDEX [id_parameter_name] ON [srd_parameter] ([id_model], [id_model], [id_parameter_group], [id_parameter]);

-- Primary Key: PrimaryKey
ALTER TABLE [srd_parameter] ADD CONSTRAINT [PrimaryKey] PRIMARY KEY ([id_model], [id_model], [id_parameter_group], [id_parameter], [id_model], [id_parameter]);

-- Index: srd_parameter_groupsrd_parameter
CREATE INDEX [srd_parameter_groupsrd_parameter] ON [srd_parameter] ([id_model], [id_model], [id_parameter_group], [id_parameter], [id_model], [id_parameter], [id_model], [id_parameter_group]);

