-- Table: srd_datatype
-- Created: 2025-10-16 23:47:19
-- Records: 18
-- SQL Statement:
CREATE TABLE [srd_datatype] (
    [id_model] VARCHAR(32),
    [id_datatype] VARCHAR(255),
    [fn_datatype] VARCHAR(128),
    [fd_datatype] TEXT,
    [cd_target_datatype] VARCHAR(32),
    [cd_prefix_column_name] VARCHAR(32),
    [cd_symbol_functional_naam] VARCHAR(32)
);

-- Index: dta_modelsrd_datatype
CREATE INDEX [dta_modelsrd_datatype] ON [srd_datatype] ([id_model]);

