-- Table: srd_processing_status
-- Created: 2025-07-04 22:53:22
-- Records: 8

CREATE TABLE [srd_processing_status] (
    [id_model] VARCHAR(32),
    [id_processing_status] VARCHAR(128),
    [ni_processing_status] INT,
    [fn_processing_status] VARCHAR(128),
    [fd_processing_status] TEXT
);

-- Index: dta_modelsrd_processing_status
CREATE INDEX [dta_modelsrd_processing_status] ON [srd_processing_status] ([id_model]);

-- Index: id_model
CREATE INDEX [id_model] ON [srd_processing_status] ([id_model], [id_model]);

-- Primary Key: PrimaryKey
ALTER TABLE [srd_processing_status] ADD CONSTRAINT [PrimaryKey] PRIMARY KEY ([id_model], [id_model], [id_model], [id_processing_status]);

