-- Table: srd_dq_result_status
-- Created: 2025-07-04 22:53:21
-- Records: 6

CREATE TABLE [srd_dq_result_status] (
    [id_model] VARCHAR(32),
    [id_dq_result_status] VARCHAR(255),
    [fn_dq_result_status] VARCHAR(128),
    [fd_dq_result_status] TEXT
);

-- Index: dta_modelsrd_dq_result_status
CREATE INDEX [dta_modelsrd_dq_result_status] ON [srd_dq_result_status] ([id_model]);

-- Index: id_model
CREATE INDEX [id_model] ON [srd_dq_result_status] ([id_model], [id_model]);

-- Primary Key: PrimaryKey
ALTER TABLE [srd_dq_result_status] ADD CONSTRAINT [PrimaryKey] PRIMARY KEY ([id_model], [id_model], [id_model], [id_dq_result_status]);

