-- Table: tmp_effected_datasets
-- Created: 2025-11-01 21:01:27
-- Records: 0
-- SQL Statement:
CREATE TABLE [tmp_effected_datasets] (
    [id_model] VARCHAR(32),
    [id_dataset] VARCHAR(32)
);

-- Index: id_dataset
CREATE INDEX [id_dataset] ON [tmp_effected_datasets] ([id_dataset]);

-- Index: id_model
CREATE INDEX [id_model] ON [tmp_effected_datasets] ([id_dataset], [id_dataset], [id_model]);

