-- Table: tmp_transformation_dataset_ds
-- Created: 2025-10-16 23:47:19
-- Records: 18
-- SQL Statement:
CREATE TABLE [tmp_transformation_dataset_ds] (
    [cd_join_type] VARCHAR(32),
    [id_dataset] VARCHAR(32),
    [id_source_model] VARCHAR(32),
    [nm_target_schema] VARCHAR(128),
    [nm_target_table] VARCHAR(128),
    [cd_alias] VARCHAR(32),
    [ni_ordering_from] INT,
    [ni_ordering_till] INT
);

-- Index: id_dataset
CREATE INDEX [id_dataset] ON [tmp_transformation_dataset_ds] ([id_dataset]);

