-- Table: tmp_transformation_dataset_tx
-- Created: 2025-10-16 23:47:19
-- Records: 21
-- SQL Statement:
CREATE TABLE [tmp_transformation_dataset_tx] (
    [id_model] VARCHAR(32),
    [ni_ordering] INT,
    [tx_sql] TEXT
);

