-- Table: tmp_dq_aggregate_level
-- Created: 2025-12-25 01:03:37
-- Records: 0
-- SQL Statement:
CREATE TABLE [tmp_dq_aggregate_level] (
    [id_model] VARCHAR(32),
    [id_dataset] VARCHAR(32),
    [cd_aggregation_type] VARCHAR(255),
    [ni_level_start] INT,
    [ni_level_lentgh] INT,
    [ni_level] INT,
    [ni_sub_level] INT
);

