-- Table: tmp_transformation_mapping_be
-- Created: 2025-10-16 23:47:19
-- Records: 0
-- SQL Statement:
CREATE TABLE [tmp_transformation_mapping_be] (
    [id_attribute] VARCHAR(255),
    [ni_ordering] VARCHAR(255),
    [nm_target_column] VARCHAR(255),
    [ni_position_from] INT,
    [ni_position_till] INT
);

-- Index: id_attribute
CREATE INDEX [id_attribute] ON [tmp_transformation_mapping_be] ([id_attribute]);

