-- Table: tmp_transformation_dataset_ni
-- Created: 2025-10-16 23:47:19
-- Records: 18
-- SQL Statement:
CREATE TABLE [tmp_transformation_dataset_ni] (
    [tx_sql] TEXT,
    [ni_ordering] INT,
    [cd_join_type] VARCHAR(32),
    [id_dataset] VARCHAR(32),
    [id_source_model] VARCHAR(32),
    [nm_target_schema] VARCHAR(128),
    [nm_target_table] VARCHAR(128),
    [cd_alias] VARCHAR(32),
    [tx_join_criteria] TEXT
);

-- Index: id_dataset
CREATE INDEX [id_dataset] ON [tmp_transformation_dataset_ni] ([id_dataset]);

