-- Table: tmp_transformation_dataset_md
-- Created: 2025-10-16 23:47:19
-- Records: 21
-- SQL Statement:
CREATE TABLE [tmp_transformation_dataset_md] (
    [ni_ordering] INT,
    [id_source_model] VARCHAR(32),
    [tx_sql_prev] VARCHAR(255),
    [tx_sql] TEXT,
    [tx_sql_next] TEXT,
    [id_dataset] VARCHAR(32),
    [nm_target_schema] VARCHAR(128),
    [nm_target_table] VARCHAR(128),
    [is_next_word_alias_keyword] BIT,
    [is_prev_word_from_or_join_keyword] BIT,
    [is_keyword] BIT
);

-- Index: id_dataset
CREATE INDEX [id_dataset] ON [tmp_transformation_dataset_md] ([id_dataset]);

