-- Table: tmp_transformation_mapping_md
-- Created: 2025-10-16 23:47:19
-- Records: 0
-- SQL Statement:
CREATE TABLE [tmp_transformation_mapping_md] (
    [id_attribute] VARCHAR(255),
    [ni_ordering] VARCHAR(255),
    [nm_target_column] VARCHAR(255),
    [ni_position_till] INT,
    [ni_to_be_searched_length] INT,
    [tx_to_be_searched] VARCHAR(255),
    [dummy] INT,
    [tx_sql_statement] TEXT
);

-- Index: id_attribute
CREATE INDEX [id_attribute] ON [tmp_transformation_mapping_md] ([id_attribute]);

