-- Table: tmp_transformation_mapping_at
-- Created: 2025-10-16 23:47:19
-- Records: 0
-- SQL Statement:
CREATE TABLE [tmp_transformation_mapping_at] (
    [id_attribute] VARCHAR(255),
    [ni_ordering] VARCHAR(255),
    [nm_target_column] VARCHAR(255),
    [tx_to_be_searched_1] VARCHAR(255),
    [tx_to_be_searched_2] VARCHAR(255),
    [tx_sql_statement] TEXT
);

-- Index: id_attribute
CREATE INDEX [id_attribute] ON [tmp_transformation_mapping_at] ([id_attribute]);

